.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  margin-bottom: 1.8rem;
  margin-right: 1.8rem;
  box-shadow: rgb(99 99 99 / 20%) 3px 7px 8px 4px;
  background: #fff;
  width: 200px;
  border-radius: 2rem;
  @media (max-width: 480px) {
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
    width: 80%;
  }
  img {
    width: 70px;
  }
  h2 {
    color: #284e80;
    font-size: 1rem;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1rem;
  }
  h3 {
    color: #515357;
    font-size: 0.8rem;
    padding-bottom: 5px;
    &.weather-state {
      margin-bottom: 1rem;
    }
  }
  .direction {
    margin-right: 10px;
  }
}
